aws_region     = "us-west-2"
table_name     = "ShortUrls"
function_name  = "url-shortener"
handler        = "lambda_function.lambda_handler"
runtime        = "python3.12"
architecture   = "arm64"
role_arn       = "arn:aws:iam::YOUR_ROLE_HERE"

# S3 bucket for static website hosting
bucket_name = "your-bucket-name-here"

frontend_files = [
  "your-file-name1.html",
  "your-file-name2.js",
  "your-file-name3.css"
]

